
#layout {
  padding: 0;
}
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.sidebar {
  background: #48466D;
  color: #ABEDD8;
  display: flex;
}
.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
  letter-spacing: 2px;
}
.brand-title {
  text-transform: uppercase;
  font-family: 'Merienda One', cursive;
}
.profile-photo {
  border-radius: 100%;
  border: 5px solid black;
  max-width: 150px;
  height: auto;
}
.horiz-line {
  width: 60%;
  height: 0px;
  margin-left: 20%;
  border: 2px solid #3D84A8;
  margin-top: 5px;
}
.brand-tagline {
  font-family: 'Courgette', cursive;
}
.social-row {
  display: inline-flex;
  list-style: none;
  padding: 0;
}
.social-icon {
  width: 35px;
  height: 35px;
  border-radius: 30%;
  padding: 5px;
}
.content {
  padding: 2em 1em 0;
  background: #EEEEEE;
}
.content-subhead {
  text-transform: uppercase;
    color: #3D84A8;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em
}
.post {
  padding-bottom: 2em;
}
.post-title {
  font-size: 2em;
  color: #48466D;
  margin-bottom: 0.2em;
}
.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
}
.post-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  display: inline-flex;
  overflow: auto;
}
.footer {
  text-align: center;
  padding: 1em 0;
}

@media (min-width: 768px) {
    .content {
        padding: 2em 3em 0;
        margin-left: 30%;
    }
    .header {
        margin: 30% 2em 0;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 30%;
        padding-right: 10px;
    }
}
